langchain_google_genai
dotenv
youtube-search-python
youtube-search
langgraph
langchain
langchain_community
langchain_openai
langchain_core
wikipedia
lxml
ipykernel
langchain-tavily
yfinance
ddgs
structlog
langchain_groq